body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}

header {
    max-width: 940px;
    margin: auto;
    margin-top: 10px;
    padding: 10px 0;
    background-color: #FF0350;
    color: #fff;
    text-align: center;

}

h1 {
    vertical-align: middle;
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header img {
    max-height: 100px;
    vertical-align: middle;
    margin-left: 10px;
}

.container {
    max-width: 940px;
    margin: auto;
    height: fit-content ;
    background-color: #fff; /* Hintergrundfarbe für den Hauptinhalt */
}

/* Navigationsbalken */
nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-top: 3px solid #333;

}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

#settings {
    float: right;
    margin-right: 10px;
    margin-left: -35px;
}


main {
    
    text-align: center;

}

a {
    color: black; 
    cursor: pointer;
}

#intro {
    width: 500px;
    margin: auto;
    margin-top: 50px;
    color:#FF0350;
    font-family: arial, sans-serif;
    font-weight: light;
    font-style: italic;
    border: 1px solid #FF0350;
    padding: 3px;
}

#pngHeading {
    text-align: left;
    margin-left: 70px; 
    margin-top: 40px;
}

#pngText {
    float: left;
    margin-left: 70px;
    padding-right: 50px;
    text-align: left;

}


#fileInput {
    float: left;
    margin-left: 70px;
    padding-right: 60px;
}



#imageContainer {
    width: 900px; 
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 20px; /* Abstände zwischen den Bildcontainern */
    justify-content: center; /* Zentriert die Container horizontal */
    padding-bottom: 100px;
}


/* CSS für das Anzeigen der Bilder in Reihen mit jeweils drei Bildern */
.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    width: 33.33%; /* Jede Spalte nimmt ein Drittel der verfügbaren Breite ein */
    box-sizing: border-box;
    padding: 10px;
}

.inputUhrzeit {
   width: 60px;
   margin-right: 10px;

}

.entfernenButton {
    margin-left: 30px;
}


#designByHtml {
    border-top: 2px dashed black;
    width:800px;
    padding-top: 30px;
    margin: auto;

}

#list-header{
    padding-top: 20px;
    padding-left: 5px;
}

ol {
    text-align: left;
    margin-left: 25px;
    max-width: 800px;
}

ol li {
    padding: 5px;
}

#inputText {
    width: 800px;
}

button {
    margin-top: 5px;
    margin-bottom: 10px;
}

#previewContainer {
    width: 800px;
    height: 480px;
    border: 1px solid #ccc;
    margin: auto;

}

#preview {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#previewImg {
    width: 800px;
    height: 480px;
}

footer {
    max-width: 940px;
    margin: 0 auto;
    padding: 10px 0;
    background-color: #FF0350;
    color: #fff;
    text-align: center;
}

#icons8 {
    font-size: small;
}